

body {
  background-color:	#212121;
  font-family: 'Lexend Tera', sans-serif;
  background-size: 10px 10px;
  background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(17, 17, 17, 0.07) 4px),
    linear-gradient(transparent, transparent 3px, rgba(0,0,0,.07) 4px);
  /* color: $color; */
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  margin: 0;
  min-height: 100vh;
  /* box-shadow: inset 0 0 150px rgba($color, .4), inset 0 0 150px rgba($color, .3); */
  
  display: flex;
  /* min-height: 100vh; */
  flex-direction: column;
  /* letter-spacing: $letterSpacing; */
}

.main {
  display: flex;
  justify-content: space-around;
  width:100%;
  height: 100%;

}

.board {
  color: #0FF;
  
}

header {
    font-size: 3em;
    text-shadow: 2px 2px 15px white;
    color: #0FF;
    display: flex;
    justify-content: center;
    
}

img {
  width: 16em;
  border-radius: 20px;
  
}

.stacked {
  background: rgb(62, 124, 50);
  box-shadow:
    0 1px 1px rgba(0,0,0,0.15),
    0 10px 0 -5px #eee,
    0 10px 1px -4px rgba(0,0,0,0.15),
    0 20px 0 -10px #eee,
    0 20px 1px -9px rgba(0,0,0,0.15);
    padding: 0px;
}
.glow-p1 {
  background-color: #fff;
  box-shadow: 0em 0em 3em .5em #0FF
}

.glow-p2 {
  background-color: #fff;
  box-shadow: 0em 0em 3em .75em rgb(211, 69, 18);
}

.p1-win-counter, .p2-win-counter {
    font-size: 3em;
    color: rgb(220, 247, 247);
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.p1-win-counter {
  text-shadow: 2px 2px 15px #0FF;
}

.p2-win-counter {
  text-shadow: 2px 2px 15px rgb(211, 69, 18)
}



